.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.responsiveBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pokeBlock{
  margin:20px;
  padding: 10px;
  border: 3px solid black;
  border-radius: 10px;
  box-shadow: inset 0 0 10px #000000;
}
.back {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fir-ionic-app-ccef8.appspot.com/o/pokemon.jpg?alt=media&token=f81f84e0-e04d-4aa8-b5f7-32548a2eedeb") ;
  display: flex;
  align-items: center;
  flex-direction: column; 
  height: 100%;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}
.formBlock {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: aliceblue;
  width: 30%;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 20px;
  border:  3px solid black;
  box-shadow: inset 0 0 10px #000000;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px;
  padding: 10px;
}
.fondo {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Responsive design */
  
/* Para 600px */  
@media only screen and (max-width: 620px) and (min-width: 501px) {  
  .responsiveBlock{
    flex-direction: column; 
  }
  .back{
    margin-top: 150px;
  }
  .formBlock{
    width: 80%;
  }
}  
  
/* Para 480px */  
@media only screen and (max-width: 500px) and (min-width: 341px) {  
  .responsiveBlock{
    flex-direction: column; 
    width: 100%; 
  }
  .pokeBlock{
    width: 80%;
  }
  .back{
    margin-top: 100px;
  }
  .formBlock{
    width: 80%;
  }
}  
  
/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  {  
  .responsiveBlock{
    flex-direction: column; 
  }
  .pokeBlock{
    width: 80%;
  }
  .back{
    margin-top: 150px;
  }
  .formBlock{
    width: 80%;
  }
} 